*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "PT Sans Caption", sans-serif;
  color: #36424e;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 25rem minmax(min-content, calc(100vh - 25rem));
  grid-template-columns: [leftbar-start full-start] minmax(min-content, 40rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 40rem) [rightbar-end full-end]; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 20rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 20rem) [rightbar-end full-end]; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 15rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 15rem) [rightbar-end full-end]; } }
  @media only screen and (max-width: 25em) {
    .container {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 12rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 12rem) [rightbar-end full-end]; } }

.mb_md {
  margin-bottom: 3rem; }

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7,
.js--wp-8,
.js--wp-9,
.js--wp-10,
.js--wp-11,
.js--wp-12,
.js--wp-13,
.js--wp-14 {
  opacity: 0;
  -vendor-animation-delay: 2s; }

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated,
.js--wp-7.animated,
.js--wp-8.animated,
.js--wp-9.animated,
.js--wp-10.animated,
.js--wp-11.animated,
.js--wp-12.animated,
.js--wp-13.animated,
.js--wp-14.animated {
  opacity: 1; }

.about {
  background-color: rgba(232, 232, 232, 0.4);
  grid-column: full-start / full-end;
  grid-row: 2 / 3;
  padding: 10rem 0;
  font-size: 2rem;
  color: rgba(54, 66, 78, 0.9);
  line-height: 2;
  display: grid;
  grid-template-columns: [leftbar-start full-start] minmax(min-content, 40rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 40rem) [rightbar-end full-end]; }
  @media only screen and (max-width: 91.5em) {
    .about {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 20rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 20rem) [rightbar-end full-end]; } }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 15rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 15rem) [rightbar-end full-end];
      font-size: 1.8rem; } }
  @media only screen and (max-width: 25em) {
    .about {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 12rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 12rem) [rightbar-end full-end];
      padding: 5rem 0; } }
  .about__inner {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: min-content minmax(min-content, 1fr);
    align-items: center;
    grid-column-gap: 5rem; }
    @media only screen and (max-width: 50em) {
      .about__inner {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 3rem;
        justify-items: center;
        text-align: center;
        grid-column: full-start / full-end;
        margin: 0 3rem; } }
  .about__img {
    width: 30rem;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(54, 66, 78, 0.9);
    margin: 0 2rem; }
    @media only screen and (max-width: 56.25em) {
      .about__img {
        width: 20rem; } }

.contacts {
  grid-column: full-start / full-end;
  grid-row: 5 / 6;
  text-align: center;
  padding: 10rem 0;
  font-size: 1.3rem; }
  @media only screen and (max-width: 50em) {
    .contacts {
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 25em) {
    .contacts {
      padding: 5rem 0; } }
  .contacts__items {
    width: 60rem;
    margin: 5rem auto;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 50em) {
      .contacts__items {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        width: 100%;
        justify-items: center; } }
  .contacts__email {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: end;
    grid-column-gap: 1rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 50em) {
      .contacts__email {
        align-items: center; } }
  .contacts__social_media {
    justify-self: end; }
    @media only screen and (max-width: 50em) {
      .contacts__social_media {
        justify-self: center; } }
  .contacts__facebook {
    width: 10rem;
    height: auto;
    transition: all .2s ease;
    margin-right: 1rem; }
    .contacts__facebook:hover {
      background-color: #36424e;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); }
    .contacts__facebook:active, .contacts__facebook:focus {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45); }

.form {
  display: grid;
  justify-content: center; }
  @media only screen and (max-width: 25em) {
    .form {
      padding: .5rem; } }
  .form__input, .form__textarea {
    margin-bottom: 2rem;
    padding: 1rem;
    width: 40rem;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1.3rem;
    border: 1px solid rgba(144, 151, 159, 0.8); }
    .form__input:required, .form__textarea:required {
      box-shadow: none; }
    @media only screen and (max-width: 37.5em) {
      .form__input, .form__textarea {
        width: 30rem; } }
  .form__textarea {
    height: 20rem;
    margin-bottom: 4rem;
    resize: none; }
  .form__btn {
    justify-self: start;
    margin: 0 auto; }

.footer {
  grid-column: full-start / full-end;
  grid-row: 6 / 7;
  background-color: rgba(144, 151, 159, 0.5);
  background-size: cover;
  background-position: center;
  height: 20rem; }
  .footer__text {
    font-size: 1.5rem;
    color: #36424e;
    text-align: center;
    width: 55%;
    margin: 7rem auto;
    padding: 2rem; }

.header,
.header-second {
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(54, 66, 78, 0.8), rgba(54, 66, 78, 0.94)), url(../img/bg_1200x486.jpg);
  background-size: cover;
  background-position: top;
  padding: 3rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 85% 15%; }
  @media only screen and (max-width: 37.5em) {
    .header,
    .header-second {
      align-content: start;
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr min-content 1fr;
      padding: 1rem 3rem; } }
  @media (min-resolution: 192dpi) and (min-width: 600px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px), (min-width: 2000px) {
    .header,
    .header-second {
      background-image: linear-gradient(rgba(54, 66, 78, 0.8), rgba(54, 66, 78, 0.94)), url(../img/bg.jpg); } }
  @media (max-width: 500px) {
    .header,
    .header-second {
      background-image: linear-gradient(rgba(54, 66, 78, 0.8), rgba(54, 66, 78, 0.94)), url(../img/bg_900x365.jpg); } }
  .header .heading-first,
  .header-second .heading-first {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: end; }
    @media only screen and (max-width: 37.5em) {
      .header .heading-first,
      .header-second .heading-first {
        grid-row: 1 / 2; } }
  .header .heading-second,
  .header-second .heading-second {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    align-self: start; }
    @media only screen and (max-width: 37.5em) {
      .header .heading-second,
      .header-second .heading-second {
        grid-row: 2 / 3; } }
    @media only screen and (max-width: 25em) {
      .header .heading-second,
      .header-second .heading-second {
        text-align: center; } }

.nav {
  grid-row: 1 / 3;
  grid-column: 2 / -1;
  justify-self: center; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      align-self: end;
      grid-column: 1 / -1;
      grid-row: 3 / 4; } }
  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 50em) {
      .nav__list {
        padding: 1rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .nav__list {
        flex-direction: row;
        grid-row: 1 / 2; } }
  .nav__item {
    padding: .5rem 1rem;
    border-radius: 0.2rem; }
    .nav__item:hover {
      background-color: rgba(144, 151, 159, 0.5); }
    @media only screen and (max-width: 25em) {
      .nav__item {
        padding: .5rem; } }
  .nav__link {
    text-decoration: none;
    color: #FFF4E2;
    font-size: 1.5rem;
    width: 11rem; }

/*sticky nav*/
.sticky {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: start;
  text-align: right;
  z-index: 105;
  position: fixed;
  height: 6rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 2px 2px #efefef; }
  .sticky .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .sticky .nav__list {
        padding: 0; } }
  .sticky .nav__item {
    display: inline-block;
    margin-right: 2rem;
    margin-top: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .sticky .nav__item {
        margin-right: 1.5rem; } }
    @media only screen and (max-width: 25em) {
      .sticky .nav__item {
        margin-right: 1rem; } }
  @media only screen and (max-width: 25em) {
    .sticky .nav__item:last-of-type {
      display: none; } }
  .sticky .nav__link {
    color: #36424e; }

/*Language toggle*/
.toggle {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 25em) {
    .toggle {
      position: absolute;
      top: 1rem;
      left: 1rem; } }
  .toggle__icon {
    width: 2rem;
    height: auto;
    margin-right: .5rem; }
    @media only screen and (max-width: 37.5em) {
      .toggle__icon {
        margin-right: .4rem; } }

.portfolio {
  grid-column: full-start / full-end;
  grid-row: 3 / 4;
  padding: 10rem 0;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(7, min-content); }
  @media only screen and (max-width: 56.25em) {
    .portfolio {
      grid-template-columns: minmax(5rem, 10rem) minmax(min-content, 40rem) 4rem minmax(min-content, 40rem) minmax(5rem, 10rem); } }
  @media only screen and (max-width: 43.75em) {
    .portfolio {
      grid-template-columns: minmax(2rem, 20rem) minmax(30rem, 40rem) minmax(2rem, 20rem); } }
  @media only screen and (max-width: 25em) {
    .portfolio {
      padding: 5rem 0; } }

.heading__box {
  grid-column: 1 / -1;
  text-align: center;
  padding-bottom: 3rem; }

.box-right,
.box-left {
  margin: 5rem 0;
  display: grid;
  column-gap: 1rem; }
  @media only screen and (max-width: 43.75em) {
    .box-right,
    .box-left {
      margin: 3rem 0; } }
  .box-right__img-box,
  .box-left__img-box {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    object-fit: cover;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #e8e8e8; }
    @media only screen and (max-width: 56.25em) {
      .box-right__img-box,
      .box-left__img-box {
        text-align: center;
        background-color: #fff;
        grid-row: 1 / 2; } }
  .box-right__img,
  .box-left__img {
    width: 100%;
    height: 100%;
    vertical-align: bottom; }

.box-right {
  grid-column: 4 / 11;
  grid-template-columns: 2fr 1fr; }
  @media only screen and (max-width: 91.5em) {
    .box-right {
      grid-column: 3 / span 8; } }
  @media only screen and (max-width: 81.25em) {
    .box-right {
      grid-column: 3 / span 9; } }
  @media only screen and (max-width: 75em) {
    .box-right {
      grid-column: 4 / span 8; } }
  @media only screen and (max-width: 68.75em) {
    .box-right {
      grid-column: 2 / span 9; } }
  @media only screen and (max-width: 62.5em) {
    .box-right {
      grid-column: 2 / span 10; } }
  @media only screen and (max-width: 56.25em) {
    .box-right {
      grid-column: 2 / 3;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr; } }
  @media only screen and (max-width: 43.75em) {
    .box-right {
      grid-column: 2 / 3; } }

.box-left {
  grid-column: 3 / span 7;
  grid-template-columns: 1fr 2fr; }
  @media only screen and (max-width: 91.5em) {
    .box-left {
      grid-column: 2 / span 8; } }
  @media only screen and (max-width: 81.25em) {
    .box-left {
      grid-column: 2 / span 9; } }
  @media only screen and (max-width: 75em) {
    .box-left {
      grid-column: 3 / span 8; } }
  @media only screen and (max-width: 68.75em) {
    .box-left {
      grid-column: 3 / span 9; } }
  @media only screen and (max-width: 62.5em) {
    .box-left {
      grid-column: 3 / span 10; } }
  @media only screen and (max-width: 56.25em) {
    .box-left {
      grid-column: 4 / 5;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr; } }
  @media only screen and (max-width: 43.75em) {
    .box-left {
      grid-column: 2 / 3; } }
  .box-left__img-box {
    grid-column: 2 / -1;
    border-left: none;
    object-fit: cover;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #e8e8e8; }
    @media only screen and (max-width: 56.25em) {
      .box-left__img-box {
        grid-row: 1 / 2;
        grid-column: 1 / -1; } }

.content-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem 3rem 3rem 4rem;
  font-size: 1.3rem;
  color: rgba(54, 66, 78, 0.8);
  border: 1px solid rgba(54, 66, 78, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  justify-items: left;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .content-box {
      padding: 2rem 1rem 2rem 2rem;
      grid-row-gap: 2rem; } }
  .content-box__list {
    width: 100%;
    grid-column: 1 / -1;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-row-gap: 2rem; }
  .content-box__item {
    display: flex;
    align-items: center; }
  .content-box__item::before {
    content: '\2713';
    font-size: 2rem;
    margin-right: 1rem;
    color: #BFB4A1; }
  .content-box__img {
    width: 4rem;
    margin-right: 1.5rem; }

.qualification {
  background-color: rgba(232, 232, 232, 0.4);
  grid-column: full-start / full-end;
  grid-row: 4 / 5;
  padding: 10rem 0;
  color: rgba(54, 66, 78, 0.9);
  display: grid;
  grid-template-columns: [leftbar-start full-start] minmax(min-content, 40rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 40rem) [rightbar-end full-end]; }
  @media only screen and (max-width: 91.5em) {
    .qualification {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 20rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 20rem) [rightbar-end full-end]; } }
  @media only screen and (max-width: 56.25em) {
    .qualification {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 15rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 15rem) [rightbar-end full-end]; } }
  @media only screen and (max-width: 25em) {
    .qualification {
      grid-template-columns: [leftbar-start full-start] minmax(min-content, 12rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [center-end rightbar-start] minmax(min-content, 12rem) [rightbar-end full-end];
      padding: 5rem 0; } }
  .qualification__wrap {
    grid-column: center-start / center-end;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .qualification__wrap {
        grid-column: full-start / full-end;
        margin: 0 5rem; } }

.skills,
.technology,
.certification {
  font-size: 1.5rem;
  margin: 10rem 0 0 0; }
  @media only screen and (max-width: 25em) {
    .skills,
    .technology,
    .certification {
      margin: 5rem 1rem 0 1rem; } }
  .skills__list,
  .technology__list,
  .certification__list {
    list-style: none; }
  .skills__item,
  .technology__item,
  .certification__item {
    margin-bottom: 1rem; }

.skills {
  text-align: left; }
  .skills__item::before {
    content: '\2713';
    font-size: 2rem;
    margin-right: 1rem;
    color: #BFB4A1; }

.title-block {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  justify-items: start;
  align-items: center; }
  .title-block__icon {
    width: 2rem;
    height: 2rem;
    fill: #BFB4A1; }
    .title-block__icon-small {
      width: 2.5rem;
      height: 2.5rem; }

.technology__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem; }

.technology__item {
  display: grid;
  justify-items: start;
  grid-row-gap: .5rem; }

.technology__img {
  width: 4rem; }

.certification {
  text-align: left; }
  .certification__item {
    width: 268px;
    height: auto;
    margin-right: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .certification__item {
        width: 225px; } }

.heading-first {
  color: #FFF4E2;
  font-family: "Roboto Slab", serif;
  font-size: 6rem;
  margin: 0 2rem; }
  @media only screen and (max-width: 50em) {
    .heading-first {
      font-size: 4rem; } }

.heading-second {
  color: #FFF4E2;
  font-size: 3.7rem;
  margin: 0 2rem; }
  @media only screen and (max-width: 50em) {
    .heading-second {
      font-size: 2.5rem; } }

.heading-third {
  color: rgba(54, 66, 78, 0.8);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300; }
  @media only screen and (max-width: 25em) {
    .heading-third {
      font-size: 1.5rem; } }

.heading-section {
  font-family: "Roboto Slab", serif;
  color: rgba(54, 66, 78, 0.7);
  font-size: 3.7rem; }

.btn {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  border-style: none;
  cursor: pointer;
  background-color: #BFB4A1;
  transition: all .2s ease;
  align-self: center;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }
  .btn:hover {
    background-color: #36424e;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.2rem); }
  .btn:active, .btn:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45);
    transform: translateY(-0.1rem); }
