.about {
    background-color: rgba(#e8e8e8, .4);
    grid-column: full-start / full-end;
    grid-row: 2 / 3;
    padding: 10rem 0;
    font-size: 2rem;
    color: rgba($color-primary, .9);
    line-height: 2;
    
    display: grid;
    grid-template-columns: [leftbar-start full-start] minmax(min-content, 40rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 40rem) [rightbar-end full-end];
    
    @media only screen and (max-width: $bp-largest) {//1400px
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 20rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 20rem) [rightbar-end full-end];
    }
    
    @media only screen and(max-width: $bp-900)  {
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 15rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 15rem) [rightbar-end full-end];
        font-size: 1.8rem;
    }
    
    @media only screen and(max-width: $bp-tiny)  {
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 12rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 12rem) [rightbar-end full-end];
        padding: 5rem 0;
    }
    
    &__inner {
        grid-column: center-start / center-end;
        
        display: grid;
        grid-template-columns: min-content minmax(min-content, 1fr);
        align-items: center;
        grid-column-gap: 5rem;
        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);
            grid-row-gap: 3rem;
            justify-items: center; 
            text-align: center;
            grid-column: full-start / full-end;
            margin: 0 3rem;
        }
    }
    
    &__img {
        width: 30rem;
        height: auto;
        border-radius: 50%;
        border: 2px solid rgba($color-primary, .9);
        margin: 0 2rem;
        
        @media only screen and (max-width: $bp-900) {
            width: 20rem;
        }
    }
    
}