
.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5, 
.js--wp-6,
.js--wp-7,
.js--wp-8,
.js--wp-9,
.js--wp-10,
.js--wp-11,
.js--wp-12,
.js--wp-13, //.js--wp-13 - свободный
.js--wp-14 {
    opacity: 0;
    -vendor-animation-delay: 2s;
}


.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated,
.js--wp-7.animated,
.js--wp-8.animated,
.js--wp-9.animated,
.js--wp-10.animated,
.js--wp-11.animated,
.js--wp-12.animated,
.js--wp-13.animated,//13-свободный
.js--wp-14.animated {
    opacity: 1;
}