$color-primary: #36424e; 
$color-secondary: #bacee6;
$color-secondary-light: #f3fdfe;
$color-secondary-dark: #a7b9d1;
$color-contrast: #BFB4A1;
$color-contrast-light: #FFF4E2;


$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #eee9e5;
$color-grey-light-3: #90979f;

$color-black: #000; //shadows

$font-heding: 'Roboto Slab', serif;
$font-text: 'PT Sans Caption', sans-serif;

//MEDIA QUERIES BREAKPOINTS

$bp-largest: 91.5em; //1400px/16px=93.75 
$bp-1300: 81.25em; // 1300px
$bp-large: 75em; // 1200px
$bp-1000: 62.5em; //1000px
$bp-medium: 68.75em; //1100px
$bp-900: 56.25em; //900px
$bp-small: 50em; //800px
$bp-700: 43.75em; //700px
$bp-smallest: 37.5em; //600px
$bp-tiny: 25em; //400px



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //10px=1rem 10/16
    box-sizing: border-box;
    
    @media only screen and(max-width: $bp-large)  {
        font-size: 56%;
    }
    
    @media only screen and(max-width: $bp-smallest)  {
        font-size: 50%; //8px (8px/16px = 0.5=50%)
    }
    
}

body {
    font-family: $font-text;
    color: $color-primary;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 25rem minmax(min-content, calc(100vh - 25rem));
    grid-template-columns: [leftbar-start full-start] minmax(min-content, 40rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 40rem) [rightbar-end full-end];
    
    @media only screen and (max-width: $bp-large) {//1200px
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 20rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 20rem) [rightbar-end full-end];
    }
    
    @media only screen and(max-width: $bp-900)  {
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 15rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 15rem) [rightbar-end full-end];
    }
    
    @media only screen and(max-width: $bp-tiny)  {
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 12rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 12rem) [rightbar-end full-end];
    }
}

.mb_md {
    margin-bottom: 3rem;
}












