.contacts{
    
    grid-column: full-start / full-end;
    grid-row: 5 / 6;
    text-align: center;
    padding: 10rem 0;
    font-size: 1.3rem; 
    
    @media only screen and (max-width: $bp-small) {
        grid-column: full-start / full-end;    
    }
    @media only screen and (max-width: $bp-tiny) {
        padding: 5rem 0;
    }
    
    &__items {
        width: 60rem;
        margin: 5rem auto;
        text-align: left;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);
            width: 100%;
            justify-items: center; 
            
        }
    }
    
    &__email {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: end; 
        grid-column-gap: 1rem;
        margin-bottom: 3rem;
        
        @media only screen and (max-width: $bp-small) {
            align-items: center; 
        }
    }
    &__social_media {
        justify-self: end;
        
        @media only screen and (max-width: $bp-small) {
           justify-self: center; 
        }
    }
    
    &__facebook {
        width: 10rem;
        height: auto;
        transition: all .2s ease;
        margin-right: 1rem;
        
        &:hover {
            background-color: $color-primary;
            box-shadow: 0 .5rem 2rem rgba($color-black, 0.3);
        }
        
        &:active,
        &:focus {
            box-shadow: 0 .5rem 1rem rgba($color-black, 0.45);
        }
    }
}


.form {
    
    
    display: grid;
    justify-content: center;
    
    @media only screen and (max-width: $bp-tiny) {
        padding: .5rem;
    }
    
    &__input,
    &__textarea {
        margin-bottom: 2rem;
        padding: 1rem;
        width: 40rem;
        font-family: $font-text;
        font-size: 1.3rem;
        border: 1px solid rgba($color-grey-light-3, .8);
        
        &:required {
            box-shadow: none;
        }
        
        @media only screen and (max-width: $bp-smallest) {
            width: 30rem;
        }
        
        
    }
    
    &__textarea {
        height: 20rem;
        margin-bottom: 4rem;
        resize: none;
    }
    
    &__btn {
        justify-self: start;
        margin: 0 auto;
    }
}

