.footer {
    grid-column: full-start / full-end;
    grid-row: 6 / 7;
//    background-color: rgba($color-secondary-dark, .95);
    background-color: rgba($color-grey-light-3, .5);
    background-size: cover;
    background-position: center;
    height: 20rem;
    
    &__text {
        font-size: 1.5rem;
        color: $color-primary;
        text-align: center;
        
        width: 55%;
        margin: 7rem auto;
        padding: 2rem;
    }
}