.header,
.header-second {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-primary, .8), rgba($color-primary, .94)), url(../img/bg_1200x486.jpg);
    background-size: cover;
    background-position: top;
    padding: 3rem;
    box-shadow: 0 1rem 5rem rgba(#000, .2);
    position: relative;
    
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 85% 15%;
    
    @media only screen and (max-width: $bp-smallest) { //600px
        align-content: start;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr min-content 1fr;
        padding: 1rem 3rem;
    }
    
    @media (min-resolution: 192dpi) and (min-width: 600px),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px),
        (min-width: 2000px) {
        background-image: linear-gradient(rgba($color-primary, .8), rgba($color-primary, .94)), url(../img/bg.jpg);    
    }
    
    @media (max-width: 500px) {
        background-image: linear-gradient(rgba($color-primary, .8), rgba($color-primary, .94)), url(../img/bg_900x365.jpg);    
    }
     
    & .heading-first {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        align-self: end;
        
        @media only screen and (max-width: $bp-smallest) {
            grid-row: 1 / 2;
        }
    }
    
    & .heading-second {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        align-self: start;
        
        @media only screen and (max-width: $bp-smallest) {
            grid-row: 2 / 3;
        }
        
        @media only screen and (max-width: $bp-tiny) {
            text-align: center; 
        }
    }
}

.nav {
    grid-row: 1 / 3;
    grid-column: 2 / -1;
    justify-self: center; 
    
    @media only screen and (max-width: $bp-smallest) {
        align-self: end;
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }
    
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        
        @media only screen and (max-width: $bp-small) {
            padding: 1rem 0;
        }
        
        @media only screen and (max-width: $bp-smallest) {
            flex-direction: row;
            grid-row: 1 / 2;
        }
        
        
    }
    
    &__item {
        padding: .5rem 1rem;
        border-radius: 0.2rem;
        
        &:hover {
            background-color: rgba($color-grey-light-3, .5);
        }
        
        @media only screen and (max-width: $bp-tiny) {
            padding: .5rem;
        }
    }
    
    &__link {
        text-decoration: none;
        color: $color-contrast-light;
        font-size: 1.5rem;
        width: 11rem;
    }
}

//Header for secondary pages




/*sticky nav*/

.sticky {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-self: start;
    text-align: right;
    z-index: 105;
    position: fixed;
    height: 6rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 2px 2px #efefef;
        
    & .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        @media only screen and (max-width: $bp-small) {
            padding: 0;
        }
    }
    & .nav__item {
        display: inline-block;
        margin-right: 2rem;
        margin-top: 1rem;
        
        @media only screen and (max-width: $bp-smallest) {
            margin-right: 1.5rem;
        }
        
        @media only screen and (max-width: $bp-tiny) {
            margin-right: 1rem;
        }
    }
    
    & .nav__item:last-of-type {
        @media only screen and (max-width: $bp-tiny) {
            display: none;
        }
    }
    & .nav__link {
        color: $color-primary;
    }
}


/*Language toggle*/

.toggle {
    display: flex;
    align-items: center;
    
    
    
    @media only screen and (max-width: $bp-tiny) {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    
    &__icon {
        width: 2rem;
        height: auto;
        margin-right: .5rem;
        
        @media only screen and (max-width: $bp-smallest) {
            margin-right: .4rem;
        }
    }
}