.portfolio {
    grid-column: full-start / full-end;
    grid-row: 3 / 4;
    padding: 10rem 0;
    
    
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(7, min-content);
    
    @media only screen and (max-width: $bp-900) {
        grid-template-columns: minmax(5rem, 10rem) minmax(min-content, 40rem) 4rem minmax(min-content, 40rem) minmax(5rem, 10rem);
    }
    @media only screen and (max-width: $bp-700) {
        grid-template-columns: minmax(2rem, 20rem) minmax(30rem, 40rem) minmax(2rem, 20rem);
    }
    
    @media only screen and (max-width: $bp-tiny) {
        padding: 5rem 0;
    }
}

.heading__box {
    grid-column: 1 / -1;
    text-align: center;
    padding-bottom: 3rem;
}

.box-right,
.box-left {
    margin: 5rem 0;
    
    display: grid;
    column-gap: 1rem;
    
    @media only screen and (max-width: $bp-700) {
        margin: 3rem 0;
    }
    
        
    &__img-box{
        grid-column: 1 / 2; 
        grid-row: 1 / -1;
        object-fit: cover;
        box-shadow: 0 2rem 4rem rgba(#000, .2);
        background-color: #e8e8e8;
        
        @media only screen and (max-width: $bp-900) {
            text-align: center;
            background-color: #fff;
            grid-row: 1 / 2;
        }
    }
   
    &__img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    }
}


.box-right {
    grid-column: 4 / 11; 
    grid-template-columns: 2fr 1fr;
    
    @media only screen and (max-width: $bp-largest) {
        grid-column: 3 / span 8;
    }
    
    @media only screen and (max-width: $bp-1300) {
        grid-column: 3 / span 9;
    }
    
    @media only screen and (max-width: $bp-large) {
        grid-column: 4 / span 8;
    }
    
    @media only screen and (max-width: $bp-medium) {
        grid-column: 2 / span 9;
    }
    
    @media only screen and (max-width: $bp-1000) {
        grid-column: 2 / span 10;
    }
    
    @media only screen and (max-width: $bp-900) {
        grid-column: 2 / 3;
        
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }
    
    @media only screen and (max-width: $bp-700) {
        grid-column: 2 / 3;
    }
}


.box-left {
    grid-column: 3 / span 7;
    grid-template-columns: 1fr 2fr;
    
    
    @media only screen and (max-width: $bp-largest) {
        grid-column: 2 / span 8;
    }
    
    @media only screen and (max-width: $bp-1300) {
        grid-column: 2 / span 9;
    }
    
    @media only screen and (max-width: $bp-large) {
        grid-column: 3 / span 8;
    }
    
    @media only screen and (max-width: $bp-medium) {
        grid-column: 3 / span 9;
    }
    
    @media only screen and (max-width: $bp-1000) {
        grid-column: 3 / span 10;
    }
    
    @media only screen and (max-width: $bp-900) {
        grid-column: 4 / 5;
        
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }
    
    @media only screen and (max-width: $bp-700) {
        grid-column: 2 / 3;
    }
    
    
    
    &__img-box{
        grid-column: 2 / -1; 
        border-left: none;
        object-fit: cover;
        box-shadow: 0 2rem 4rem rgba(#000, .2);
        background-color: #e8e8e8;
        
        @media only screen and (max-width: $bp-900) {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
        }
    }
}


.content-box {
    background-color: rgba(#fff, .8);
    padding: 3rem 3rem 3rem 4rem;
    font-size: 1.3rem;
    color: rgba($color-primary, .8);
    border: 1px solid rgba($color-primary, .2);
    box-shadow: 0 2rem 4rem rgba(#000, .2);
    
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    justify-items: left; 
    align-items: center;
    
    @media only screen and (max-width: $bp-900) {
        padding: 2rem 1rem 2rem 2rem;
        grid-row-gap: 2rem;
    }
    
    
    
    &__list {
        width: 100%;
        grid-column: 1 / -1;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        grid-row-gap: 2rem;
        
    }
    
    &__item {
        display: flex;
        align-items: center;
    }
    
    &__item::before {
        content: '\2713';
        font-size: 2rem;
        margin-right: 1rem;
        color: $color-contrast;
    }
   
    
    &__img {
        width: 4rem;
        margin-right: 1.5rem;
    }}
