.qualification {
    background-color: rgba(#e8e8e8, .4); 
    grid-column: full-start / full-end;
    grid-row: 4 / 5;
    padding: 10rem 0;
    color: rgba($color-primary, .9);
    
    
    display: grid;
    grid-template-columns: [leftbar-start full-start] minmax(min-content, 40rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 40rem) [rightbar-end full-end];
    
    @media only screen and (max-width: $bp-largest) {//1400px
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 20rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 20rem) [rightbar-end full-end];
    }
    
    @media only screen and(max-width: $bp-900)  {
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 15rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 15rem) [rightbar-end full-end];
    }
    
        
    @media only screen and(max-width: $bp-tiny)  {
        grid-template-columns: [leftbar-start full-start] minmax(min-content, 12rem) [leftbar-end center-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end rightbar-start] minmax(min-content, 12rem) [rightbar-end full-end];
        padding: 5rem 0;
    }
    
    &__wrap {
        grid-column: center-start / center-end;
        text-align: center;
        
        @media only screen and(max-width: $bp-small) {
            grid-column: full-start / full-end;
            margin: 0 5rem;
        }
    }
    
    
}

.skills,
.technology,
.certification {
    font-size: 1.5rem;
    margin: 10rem 0 0 0;
    
    @media only screen and (max-width: $bp-tiny) {
        margin: 5rem 1rem 0 1rem;
    }
    
    &__list {
        list-style: none;
    }
    
    &__item {
        margin-bottom: 1rem;    
    }
}

.skills {
    text-align: left;
    
    &__item::before {
        content: '\2713';
        font-size: 2rem;
        margin-right: 1rem;
        color: $color-contrast;
    }
    
    
}

.title-block {
    margin-bottom: 4rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
    justify-items: start;
    align-items: center;

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-contrast;
        
        &-small {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}
   
.technology {
    
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;
        
    }
    
    &__item {
        display: grid;
        justify-items: start;
        grid-row-gap: .5rem;
    }
    
    &__img {
        width: 4rem;
    }
    
}


.certification {
    text-align: left;
    
    
    
    &__item {
        width: 268px;
        height: auto;
        margin-right: 3rem;
        
        @media only screen and(max-width: $bp-900) {
            width: 225px;
        }
        
    }
   
}






















