.heading-first {
    color: $color-contrast-light;
    font-family: $font-heding;
    font-size: 6rem;
    margin: 0 2rem;
   
    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
    }
}

.heading-second {
    color: $color-contrast-light;
    font-size: 3.7rem;
    margin: 0 2rem;
    
    @media only screen and (max-width: $bp-small) {
        font-size: 2.5rem;
    }
}

.heading-third {
    color: rgba($color-primary, .8);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    
    
    @media only screen and (max-width:$bp-tiny) {
        font-size: 1.5rem;
    }
}

.heading-section {
    font-family: $font-heding;
    color: rgba($color-primary, .7);
    font-size: 3.7rem;
    
}

.btn {
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    border-style: none;
    cursor: pointer;
    background-color: $color-contrast;
    transition: all .2s ease;
    align-self: center;
    margin-top: 1rem;
    box-shadow: 0 .5rem 2rem rgba(#000, 0.2);
    transition: all 0.2s ease;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
    &:hover {
        background-color: $color-primary;
        box-shadow: 0 .5rem 2rem rgba($color-black, 0.3);
        transform: translateY(-.2rem);
    }
    
    &:active,
    &:focus {
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.45);
        transform: translateY(-.1rem);
    }
        
}
    
    